@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
table,tr,td{
    background-color: #FFF5EE ;
    font-family: century gothic;
    color: #837E7C;
    border: 4px solid #b8acac;
    padding: 10px;
    border-collapse: collapse;
    font-size: 20px;
}

.posisi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    }

.coba{
    margin: 5%;
    background-color: rgb(14, 149, 212);
    color: white;
    padding: 25px 20px;
    font-family: 'Urbanist';
}

.bg{
    text-align: center;
    font-family: 'Urbanist';
    
}
